@page "/thanks"

<PageTitle>Thank you!</PageTitle>

<div class="d-flex flex-column align-items-center mb-4">

    <h3 style="font-family: 'Croissant One', cursive;
               color: #990039;">
        get ready for
    </h3>

    <h2 style="font-family: 'Times New Roman', Times, serif;
               font-size: 36pt;">
        A NEW SOLIE!
    </h2>

</div>

<div class="d-flex flex-column gap-3 p-3 shadow mb-3"
     style="background: #ffffffc0;
            border-top: 3px double #990039;">

     <h3>Thank you!</h3>

</div>